# Dependencies 
node_modules/
.venv/
__pycache__/
*.pyc
dist/
.tamagui/
*.tsbuildinfo
.vite/
coverage/
apps/server/storage/uploads/*.csv
!apps/server/storage/uploads/.gitkeep
apps/server/storage/tmp/*.csv
!apps/server/storage/tmp/.gitkeep

# Mac
.DS_Store

# Env vars
.env
.env.*
!.env.example

# Log vars
*.log
eden/