# Dependencies 
node_modules/
.venv/
__pycache__/
*.pyc
dist/
.tamagui/
*.tsbuildinfo
.vite/
coverage/

# Mac
.DS_Store

# Keep the empty data directory
data/*
!data/.gitkeep

# Env vars
.env
.env.*
!.env.example

# Log vars
*.log
eden/
